body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f4f4f4;
  color: #333;
  border: 10px solid red !important;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #555;
}

.dark {
  background-color: #000;
  color: #fff;

  background-image:
    radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px),
    radial-gradient(rgba(255,255,255,0.06) 1px, transparent 1px);

  background-size: 4px 4px, 6px 6px;
}

@keyframes flicker {
  0% { opacity: 1; }
  48% { opacity: 1; }
  49% { opacity: 0.92; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

.flicker {
  animation: flicker 4s infinite;
}

.distort:hover {
  letter-spacing: 3px;
  transition: 0.2s ease;
}

.dark::after {
  
}
